/* App.css */
.App {
  font-family: Arial, sans-serif;
}

.QueueDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.ApQueue, .ErrorQueue {
  margin-bottom: 20px;
}